<div class="resource">
  <div class="title">
    <h1>{{i18n 'resource.title' resourceName=resourceName}}</h1>
    {{#unless currentUser}}
      {{d-button action='addResource' icon='envelope' label=addLabel}}
    {{/unless}}
  </div>

  <div class="place">
    {{country-label category.id}}
  </div>

  <div class="description">
    <div class="p-text small">
      {{{i18n 'resource.description' resourceName=resourceName}}}
    </div>

    {{#unless site.mobileView}}
      <div class="right">
        {{people-image}}
      </div>
    {{/unless}}

    <div class="tags">
      <div class="subject">
        {{d-icon 'book'}}
        <span>{{tagData.subjects}}</span>
      </div>
      <div class="action">
        {{d-icon 'gavel'}}
        <span>{{tagData.actions}}</span>
      </div>
      {{#if tagData.parties}}
        <div class="party">
          {{d-icon 'group'}}
          <span>{{tagData.parties}}</span>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="wrapper">
    <div class="content container">
      <h2>
        <a href="#content" class="p-link">
          {{i18n 'resource.content.title'}}
        </a>
      </h2>
      <div class="list">
        {{resource-topic-list topics=content
                              type='content'
                              resourceName=resourceName
                              addResource='addResource'
                              postResource='goTo'}}
      </div>
    </div>

    <div class="services container">
      <h2>
        <a href="#services" class="p-link">
          {{i18n 'resource.services.title'}}
        </a>
      </h2>
      <div class="list">
        {{resource-topic-list topics=services
                              type='services'
                              resourceName=resourceName
                              addResource='addResource'
                              postResource='goTo'}}
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="discussions container">
      <h2>
        <a href="#discussions" class="p-link">
          {{i18n 'resource.discussions.title'}}
        </a>
      </h2>
      <div class="{{discussionListClasses}}">
        {{#if currentUser}}
          {{resource-topic-list topics=discussions
                                type='discussions'
                                resourceName=resourceName
                                addResource='addResource'
                                postResource='goTo'}}
        {{else}}
          <span class="coming-soon">
            {{{I18n 'resource.discussions.coming_soon' resourceName=resourceName}}}
          </span>
        {{/if}}
      </div>
    </div>

    <div class="events container">
      <h2>
        <a href="#events" class="p-link">
          {{i18n 'resource.events.title'}}
        </a>
      </h2>
      <div class="list">
        {{resource-topic-list topics=events
                              type='events'
                              resourceName=resourceName
                              addResource='addResource'
                              postResource='goTo'}}
      </div>
    </div>
  </div>
</div>
