<div class="resource">
  <h1>{{title}}</h1>

  <div class="place">
    {{d-icon 'globe'}}
    {{country-label categoryId}}
  </div>

  <div class="wrapper">
    <div class="articles container">
      <h2><a href="#articles" class="p-link">
        {{i18n 'resource.articles.title'}}
      </a></h2>
      <div class="list">
        {{basic-topic-list
          hideCategory="true"
          showPosters="true"
          topics=articles}}
      </div>
    </div>

    <div class="services container">
      <h2><a href="#services" class="p-link">
        {{i18n 'resource.services.title'}}
      </a></h2>
      <div class="list">
        {{#each service as |s|}}
          <div class="service-title">
            {{d-icon s.icon}}
            <span>{{s.title}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="discussions container">
      <h2><a href="#discussions" class="p-link">
        {{i18n 'resource.discussions.title'}}
      </a></h2>
      <div class="list">
        <span class="coming-soon">
          {{{I18n 'resource.discussions.coming_soon'}}}
        </span>
      </div>
    </div>

    <div class="events container">
      <h2><a href="#events" class="p-link">
        {{i18n 'resource.events.title'}}
      </a></h2>
      <div class="list">
        {{#each events as |e|}}
          <div class="event-title">
            <span>{{e.title}}</span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
