{{#conditional-loading-spinner condition=loading}}
  {{#if topics}}
    {{#each topics as |topic|}}
      {{resource-topic-list-item topic=topic type=type}}
    {{/each}}
  {{else}}
    {{#unless loadingMore}}
    <div class='alert alert-info'>
      {{i18n 'resource.none' type=type resourceName=resourceName}}
      <a {{action 'actionResource'}} class="p-link">
        {{i18n addResourceKey}}
      </a>
    </div>
    {{/unless}}
  {{/if}}
{{/conditional-loading-spinner}}
